# Database Configuration
DB_HOST=131.153.147.186
DB_USER=cashqu_cinode
DB_PASSWORD=@f33rinimi
DB_NAME=cashqu_cinode

# Auth Configuration
JWT_SECRET=cashqu_cinode

# Metadata Configuration
TMDB_API_KEY=2d93ebba01c3a81f04f9c86874d25143

# Media Paths
MOVIES_DIR=/DATA/Media/Movies
TV_DIR=/DATA/Media/TV
